ErrorDocument 403 /Blog_MVC_Les_Profondeurs/view/error.php
ErrorDocument 404 /Blog_MVC_Les_Profondeurs/view/error.php
ErrorDocument 405 /Blog_MVC_Les_Profondeurs/view/error.php
ErrorDocument 408 /Blog_MVC_Les_Profondeurs/view/error.php
ErrorDocument 500 /Blog_MVC_Les_Profondeurs/view/error.php
ErrorDocument 502 /Blog_MVC_Les_Profondeurs/view/error.php
ErrorDocument 504 /Blog_MVC_Les_Profondeurs/view/error.php

RewriteEngine On
RewriteRule ^([^_]*)_([^_]*)\.html$ /Blog_MVC_Les_Profondeurs/?p=$1&a=$2 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)\.html$ /Blog_MVC_Les_Profondeurs/?p=$1&a=$2&id=$3 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)_([^_]*)_([^_]*)\.html$ /Blog_MVC_Les_Profondeurs/?p=$1&a=$2&postid=$3&commentId=$4&vote=$5 [L]